*{
  color:darkcyan
}
h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.formda{
  width:100%;
  margin-left: 100px;
}

input{
  margin:10px;
}

.Cards{
 border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  margin-left: 170px;
  width:100%;
}

label{
  margin-right: 10px;
  font-weight: 900;
}
p,button{
  margin:10px;
}

.search{
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 500px;
  text-indent: 10px;
  
}
.infut{
  width: 75%;
}
.updates{
  width:50%;
}
.flexbox{
  display: flex;
  
}
.sidebar{
  position:fixed;
   height:100%;
   width:100px; 
   top:0;
   left:0;
   background:wheat; 
}
.list,li{
  margin-top:50px;
  color: white;
  list-style-type: none;
  
}

.Creation{
  margin-left: 150px;
  width:75%;
}
.Creation-1{
  margin-left: 250px;
  width:75%;
}

h1,.searchbox{
  margin-left: 190px;
}

.searchbox{
  margin-left: 260px;

}
.fas{
  font-size: 25px;
}
.list-item{
 
  font-size:25px;
  margin-left:5px;
}